.navi{
    display: flex; 
    align-items: flex-end;
    justify-content: end;
}

/* hero image */
.mobil img{
    width:600px;
}


/* hero image tutup */

/* hero2 */

.gambar {
    width:450px;
}

/* hero2 tutup */



/* testimoni */

.icon1{
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius:100%;
    border-style: solid;
    border-color: black;
    padding-top:4px;
    border-width: 1px;
    margin-right:10px;
    
}
.fa-angle-left{
    color: black;
}
.icon2{
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius:100%;
    border-style: solid;
    border-color: black;
    padding-top:4px;
    border-width: 1px;
    margin-left:10px;
    
}
.fa-angle-right{
    color: black;
    
}

.icon1:hover{
    background-color: green;
    border-color: green;
    color:white;
}

.icon2:hover{
    background-color: green;
    border-color: green;
    color:white;
}

.fa-angle-left:hover{
    /* color:white; */
}

.fa-angle-right:hover{
    /* color:white; */
}

/* tutup testimoni */


@media screen and (max-width: 576px) {
    .mobil{
        width: 350px;
    }
  .asek{
      width:320px;
      align-items:center;
  }
  .test{
      width:80%;
     
  }
  #carouselExampleControls{
    width:550px;
  }
  .gambar {
    width:270px;
    }
.mobil img{
    width: 350px;
}
.whyyy h4{
    text-align: center;
}
.whyyy p{
    text-align: center;
}
.isisatu h4{
    text-align: center;
}
.isidua p{
    text-align: center;
}
.navbar{
    width:375   px
}


}